
#logo {
    background: url("../assets/images/logo.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 59px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 366px;
}
a {
    color: #00136F;
    text-decoration: underline;
}
* {
    margin: 0;
}


#header {
    background: url("../assets/images/white_dot.gif") repeat-x scroll left bottom #007A96;
    height: 101px;
    position: relative;
    width: 985px;
}
body, p, td, div {
    color: #151515;
    font-family: Arial,Verdana,Tahoma;
    font-size: 12px;
}

/* Custom */
td > span {
    margin-left: 5px;
}